.head1 {
    font-family:"Gotham Bold";
    font-size:40px;
    color:#002499;
    font-weight:bold;
}
.head2 {
    font-family:"Gotham Bold";
    font-size:17px;
    margin-left:10px;
    margin-bottom:15px;
}
body {
    font-family:"Gotham Bold";
    margin: 0 auto;
    background-position:center;
    background-size: contain;
}

.menu {  
    position: sticky;
    top: 0;
    background-color: #002499;
    padding:10px 0px 10px 0px;
    color:white;
    margin: 0 auto;
    overflow: hidden;
}
.menu a {
    font-family:"Gotham Bold";
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.menu-log {
    right: auto;
    float: right;
}
footer {
    font-family:"Gotham Bold";
    width: 100%;
    bottom: 0px;
    background-color: #FBC82E;
    position: absolute;
    padding-top:20px;
    padding-bottom:50px;
    text-align:center;
    font-size:30px;
    font-weight:bold;
    color: #002499;
}
.body_sec {
    margin-left:20px;
}